<header class="site-header">
  <div class="header-left">
    <span class="header-logo">仕入れコネクト Portal Site</span>
    <span class="header-produced">produced by USEN PAY</span>
  </div>
  <div class="header-right">
    <button class="btn-template-dl">
      <i class="fa-solid fa-download"></i> 請求CSVテンプレートDL
    </button>
    <div class="header-store">
      <img src="images/icon-company.svg" width="28" height="28" alt="">
      <span>メグロウーセンほげほげ商店セントラルスクエア<br>1行目支店</span>
    </div>
  </div>
</header>
